@tailwind base;
@tailwind components;
@tailwind utilities;

/* Базовые стили */
@layer base {
  html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f5f5f5;
    font-family: system-ui, -apple-system, sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}
